{% extends "layout.html" %}

{% block content %}
 <h1>Join our club!</h1>
        <form method="POST" action="/join2">
        <table>
        <tr><td>Name:</td><td><input type="text" size="40" name="name"></td></tr>
        <tr><td>Phone:</td><td><input type="tel" name="phone"></td></tr>
        <tr><td>Email:</td><td><input type="email" name="emailZ"></td></tr>
        <tr><td>About:</td><td><textarea name="about" row="6" cols="40"></textarea></td></tr>
        
        <tr><td>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/></td><td><input type="submit" name="Submit"></td></tr>

        </table>
        </form>
{% endblock %}

